@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);

* {
  box-sizing: border-box;
}

body {
  
    
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-image: url("https://scontent.fgua7-1.fna.fbcdn.net/v/t1.6435-9/162196101_777039726258893_2582581204067675118_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=730e14&_nc_ohc=RNQAOpX2BvoAX957tWb&_nc_ht=scontent.fgua7-1.fna&oh=2ac8f707b4bb061e410f986c7e290772&oe=61B76E62");
}




 .box::after {
    content: '';
    position: absolute;
 
    width: 70%;
    height: 10px;
    bottom: 0;
    left: 15%;
 
    z-index: -1;
 
    -webkit-box-shadow: 0 9px 20px rgba(177, 23, 23, 0.4);
    -moz-box-shadow: 0 9px 20px rgba(167, 79, 79, 0.4);
    box-shadow: 0 9px 20px rgba(185, 88, 88, 0.4);
}

.box > div {
   background-image: url("https://i.pinimg.com/originals/06/53/01/0653013c4cf83d1c66d5ef3275a8f550.jpg");
      
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
     
  
    
     
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    border: 15px solid rgb(219, 182, 18);
    padding: 10px;
 }

 /* Make sure we see the front side first */
 .box > div:first-child {
  position: relative;
  z-index: 2;
}

.box:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);         
}

/* Hide the front-side when hovered */
.box:hover > div:first-child {
  opacity: 0;
}

.box:hover div:last-child {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

 h1 {
    -webkit-text-stroke: 3px rgb(42, 190, 201);
    text-shadow: 0 1px 0 rgb(13, 179, 156), 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
    color: rgb(12, 241, 211);
 }


.v{
  color:rgb(216, 219, 20);
  font: 45px/200px 'calibre';
    text-align: center;
}